# PyCity Schools Analysis

- Your analysis here
  
---

In [3]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
complete_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
complete_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [4]:
# Calculate the total number of unique schools
school_count = len(school_data)
school_count

15

In [5]:
# Calculate the total number of students
student_count = len(student_data)
student_count

39170

In [6]:
# Calculate the total budget
total_budget = school_data["budget"].sum() 
total_budget

24649428

In [7]:
# Calculate the average (mean) math score
avg_math_score = complete_data["math_score"].mean()
avg_math_score

78.98537145774827

In [8]:
# Calculate the average (mean) reading score
avg_reading_score = complete_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greater than or equal to 70)
passed_math_count = complete_data[(complete_data["math_score"] >= 70)].count()["student_name"]
passed_math_percent = passed_math_count / float(student_count) * 100
passed_math_percent

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passed_reading_count = complete_data[(complete_data["reading_score"] >= 70)].count()["student_name"]
passed_reading_percent = passed_reading_count / float(student_count) * 100
passed_reading_percent

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passed_both_count = complete_data[
    (complete_data["math_score"] >= 70) & (complete_data["reading_score"] >= 70)
].count()["student_name"]
passed_both_percent = passed_both_count /  float(student_count) * 100
passed_both_percent

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [passed_math_percent],
    "% Passing Reading": [passed_reading_percent],
    "% Overall Passing Rate": [passed_both_percent]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [13]:
# Use the code provided to select all the school types
school_types = school_data[["school_name","type"]]
school_types

              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [14]:
# ADD size to above df
school_student_count = school_types.assign(size=school_data[["size"]])
school_student_count

              school_name      type  size
0       Huang High School  District  2917
1    Figueroa High School  District  2949
2     Shelton High School   Charter  1761
3   Hernandez High School  District  4635
4     Griffin High School   Charter  1468
5      Wilson High School   Charter  2283
6     Cabrera High School   Charter  1858
7      Bailey High School  District  4976
8      Holden High School   Charter   427
9        Pena High School   Charter   962
10     Wright High School   Charter  1800
11  Rodriguez High School  District  3999
12    Johnson High School  District  4761
13       Ford High School  District  2739
14     Thomas High School   Charter  1635

In [15]:
# ADD the school budget and per capita spending per school to above df
school_capital_budget =school_student_count.assign(budget = school_data[["budget"]],
                                               per_capita = school_data["budget"] / school_data["size"])
school_capital_budget

              school_name      type  size   budget  per_capita
0       Huang High School  District  2917  1910635       655.0
1    Figueroa High School  District  2949  1884411       639.0
2     Shelton High School   Charter  1761  1056600       600.0
3   Hernandez High School  District  4635  3022020       652.0
4     Griffin High School   Charter  1468   917500       625.0
5      Wilson High School   Charter  2283  1319574       578.0
6     Cabrera High School   Charter  1858  1081356       582.0
7      Bailey High School  District  4976  3124928       628.0
8      Holden High School   Charter   427   248087       581.0
9        Pena High School   Charter   962   585858       609.0
10     Wright High School   Charter  1800  1049400       583.0
11  Rodriguez High School  District  3999  2547363       637.0
12    Johnson High School  District  4761  3094650       650.0
13       Ford High School  District  2739  1763916       644.0
14     Thomas High School   Charter  1635  1043130       638.0

In [16]:
#DEBUGGING
# @TODO https://www.statology.org/pandas-groupby-as_index/
# print(complete_data.groupby("school_name")["math_score"].mean()["math_score"]) - RTN: key error 'math_score'
# print(complete_data.groupby("school_name", sort=False)["math_score"].mean()["math_score"]) - RTN: key error 'math_score'
# print(complete_data.groupby("school_name", as_index=False)["math_score"].mean()["math_score"]) - RTN: 0: 77.048432; 1: 83.061895; 2: 76.711767
# print(complete_data.groupby("school_name", sort=False, as_index=False)["math_score"].mean()["math_score"]) - RTN: 0: 77.048432; 1: 83.061895; 2: 76.711767

In [17]:
# ADD averages for math and reading to above df in new column and save with new name
school_score_avg = school_capital_budget.assign(math_avg =
                                                 complete_data.groupby("school_name", sort=False, as_index=False)["math_score"].mean()["math_score"],
                                                 reading_avg =
                                                 complete_data.groupby("school_name", sort=False, as_index=False)["reading_score"].mean()["reading_score"])
school_score_avg

,school_name,type,size,budget,per_capita,math_avg,reading_avg
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930

In [18]:
# create new df WITH ONLY PASSING students
school_math_count = complete_data[complete_data["math_score"] >= 70]
school_reading_count = complete_data[complete_data["reading_score"] >= 70]
school_both_count = pd.merge(school_math_count, school_reading_count)
school_both_count

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
1,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
2,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
3,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
4,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
25523,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
25524,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
25525,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
25526,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
25527,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [19]:
# NEW df from size of each group for each school
school_passing_totals = pd.DataFrame({
    "students_passed_math": school_math_count.groupby("school_name").size(),
    "students_passed_reading": school_reading_count.groupby("school_name").size(),
    "students_passed_both": school_both_count.groupby("school_name").size()})
school_passing_totals

,students_passed_math,students_passed_reading,students_passed_both
school_name,,,
Bailey High School,3318,4077,2719
Cabrera High School,1749,1803,1697
Figueroa High School,1946,2381,1569
Ford High School,1871,2172,1487
Griffin High School,1371,1426,1330
Hernandez High School,3094,3748,2481
Holden High School,395,411,381
Huang High School,1916,2372,1561
Johnson High School,3145,3867,2549
Pena High School,910,923,871
Rodriguez High School,2654,3208,2119
Shelton High School,1653,1688,1583
Thomas High School,1525,1591,1487
Wilson High School,2143,2204,2068
Wright High School,1680,1739,1626

In [20]:
# Calculate percentages and ADD to new columns
school_passing_percent = school_score_avg.assign(passed_math_percent=
                                                   school_passing_totals["students_passed_math"].values / school_score_avg["size"] * 100,
                                                   passed_reading_percent=
                                                   school_passing_totals["students_passed_reading"].values / school_score_avg["size"] * 100,
                                                   passed_both_percent=
                                                   school_passing_totals["students_passed_both"].values / school_score_avg["size"] * 100)

school_passing_percent

,school_name,type,size,budget,per_capita,math_avg,reading_avg,passed_math_percent,passed_reading_percent,passed_both_percent
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,113.747000,139.766884,93.212204
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,59.308240,61.139369,57.544930
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,110.505395,135.207269,89.097104
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,40.366775,46.860841,32.081985
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,135.523434,164.169952,108.672799
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,21.259419,22.120560,20.505920
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,38.504823,47.668810,31.370579
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,736.533958,905.620609,596.955504
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,147.444444,178.222222,117.722222
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,41.335334,42.210553,39.584896
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,32.031086,33.417349,31.232934
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,78.240234,80.467324,75.502008
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,102.752294,106.360856,99.449541

In [21]:
# RENAME columns of above df since it has all needed info
school_summary = school_passing_percent.rename(columns={"school_name": "School Name",
                                                        "type": "School Type", 
                                                        "size": "Total Students", 
                                                        "budget": "Total School Budget",
                                                        "per_capita": "Per Student Budget", 
                                                        "math_average": "Average Math Score",
                                                        "reading_average": "Average Reading Score",
                                                        "passed_math_percent": "% Passing Math",
                                                        "passed_reading_percent": "% Passing Reading",
                                                        "passed_both_percent": "% Overall Passing"})

# Format
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
school_summary

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,math_avg,reading_avg,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,113.747000,139.766884,93.212204
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,59.308240,61.139369,57.544930
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,110.505395,135.207269,89.097104
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,40.366775,46.860841,32.081985
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,135.523434,164.169952,108.672799
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,21.259419,22.120560,20.505920
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,38.504823,47.668810,31.370579
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,736.533958,905.620609,596.955504
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,147.444444,178.222222,117.722222
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,41.335334,42.210553,39.584896
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,32.031086,33.417349,31.232934
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,78.240234,80.467324,75.502008
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,102.752294,106.360856,99.449541

## Highest-Performing Schools (by % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,math_avg,reading_avg,% Passing Math,% Passing Reading,% Overall Passing
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,736.533958,905.620609,596.955504
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,147.444444,178.222222,117.722222
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,135.523434,164.169952,108.672799
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,102.752294,106.360856,99.449541
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,113.747000,139.766884,93.212204

## Bottom Performing Schools (By % Overall Passing)

In [23]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = school_summary.sort_values("% Overall Passing", ascending=True)

bottom_schools.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,math_avg,reading_avg,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,21.259419,22.120560,20.505920
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,32.031086,33.417349,31.232934
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,38.504823,47.668810,31.370579
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,40.366775,46.860841,32.081985
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,41.335334,42.210553,39.584896

## Math Scores by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = complete_data[(complete_data["grade"] == "9th")]
tenth_graders = complete_data[(complete_data["grade"] == "10th")]
eleventh_graders = complete_data[(complete_data["grade"] == "11th")]
twelfth_graders = complete_data[(complete_data["grade"] == "12th")]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th":ninth_graders.groupby("school_name")["math_score"].mean(),
                                     "10th":tenth_graders.groupby("school_name")["math_score"].mean(),
                                     "11th":eleventh_graders.groupby("school_name")["math_score"].mean(),
                                     "12th":twelfth_graders.groupby("school_name")["math_score"].mean()})
# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [25]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_graders.groupby("school_name")["reading_score"].mean(),
                                     "10th":tenth_graders.groupby("school_name")["reading_score"].mean(),
                                     "11th":eleventh_graders.groupby("school_name")["reading_score"].mean(),
                                     "12th":twelfth_graders.groupby("school_name")["reading_score"].mean()})
# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [26]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
# using "school_capital_budget" since all values are numbers already
school_spending = school_summary.assign(spending_ranges=pd.cut(
    school_capital_budget.sort_values("school_name")["per_capita"].values, spending_bins, labels=spending_labels))
school_spending = school_spending.rename(columns={"spending_ranges": "Spending Ranges (Per Student)", "math_avg": "Average Math Score", "reading_avg": "Average Reading Score"})
school_spending

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,113.747000,139.766884,93.212204,$585-630
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,59.308240,61.139369,57.544930,<$585
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,110.505395,135.207269,89.097104,$630-645
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,40.366775,46.860841,32.081985,$630-645
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,135.523434,164.169952,108.672799,$645-680
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,21.259419,22.120560,20.505920,<$585
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,38.504823,47.668810,31.370579,$645-680
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,736.533958,905.620609,596.955504,$645-680
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,147.444444,178.222222,117.722222,$630-645
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,41.335334,42.210553,39.584896,$585-630
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,32.031086,33.417349,31.232934,$630-645
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,78.240234,80.467324,75.502008,<$585
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,102.752294,106.360856,99.449541,<$585

In [28]:
#  Calculate averages for the desired columns and put into dataframe

spending_summary = pd.DataFrame({
    "Average Math Score": school_spending.groupby("Spending Ranges (Per Student)", observed=False)["Average Math Score"].mean(),
    "Average Reading Score": school_spending.groupby("Spending Ranges (Per Student)", observed=False)["Average Reading Score"].mean(),
    "% Passing Math": school_spending.groupby("Spending Ranges (Per Student)", observed=False)["% Passing Math"].mean(),
    "% Passing Reading": school_spending.groupby("Spending Ranges (Per Student)", observed=False)["% Passing Reading"].mean(),
    "% Overall Passing": school_spending.groupby("Spending Ranges (Per Student)", observed=False)["% Overall Passing"].mean()})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,80.073651,82.432247,65.390047,67.522027,63.250600
$585-630,80.165885,82.447216,85.767325,93.765587,78.484274
$630-645,80.350973,82.395382,82.586925,98.426920,67.533561
$645-680,81.375304,82.946146,303.520738,372.486457,245.666294

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

school_sizes = school_summary.assign(size_bin=pd.cut(
    school_summary["Total Students"].values, size_bins, labels=size_labels))
school_sizes = school_sizes.rename(columns={"size_bin": "School Size","math_avg": "Average Math Score", "reading_avg": "Average Reading Score" })
school_sizes

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,113.747000,139.766884,93.212204,Large (2000-5000)
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,59.308240,61.139369,57.544930,Large (2000-5000)
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,110.505395,135.207269,89.097104,Medium (1000-2000)
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,40.366775,46.860841,32.081985,Large (2000-5000)
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,135.523434,164.169952,108.672799,Large (2000-5000)
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,21.259419,22.120560,20.505920,Medium (1000-2000)
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,38.504823,47.668810,31.370579,Large (2000-5000)
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,736.533958,905.620609,596.955504,Small (<1000)
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,147.444444,178.222222,117.722222,Medium (1000-2000)
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,41.335334,42.210553,39.584896,Large (2000-5000)
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,32.031086,33.417349,31.232934,Large (2000-5000)
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,78.240234,80.467324,75.502008,Large (2000-5000)
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,102.752294,106.360856,99.449541,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns and create dataframe
size_summary = pd.DataFrame({
    "Average Math Score": school_sizes.groupby("School Size", observed=False)["Average Math Score"].mean(),
    "Average Reading Score": school_sizes.groupby("School Size", observed=False)["Average Reading Score"].mean(),
    "% Passing Math": school_sizes.groupby("School Size", observed=False)["% Passing Math"].mean(),
    "% Passing Reading": school_sizes.groupby("School Size", observed=False)["% Passing Reading"].mean(),
    "% Overall Passing": school_sizes.groupby("School Size", observed=False)["% Overall Passing"].mean()
})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,415.564276,500.783277,343.748022
Medium (1000-2000),83.374684,83.864438,95.070784,107.809974,83.474849
Large (2000-5000),77.746417,81.344493,67.382116,76.962635,58.650292

## Scores by School Type

In [32]:
# Creates new dataframe and calculates average by school type
type_summary = pd.DataFrame({
    "Average Math Score": school_sizes.groupby("School Type", observed=False)["Average Math Score"].mean(),
    "Average Reading Score": school_sizes.groupby("School Type", observed=False)["Average Reading Score"].mean(),
    "% Passing Math": school_sizes.groupby("School Type", observed=False)["% Passing Math"].mean(),
    "% Passing Reading": school_sizes.groupby("School Type", observed=False)["% Passing Reading"].mean(),
    "% Overall Passing": school_sizes.groupby("School Type", observed=False)["% Overall Passing"].mean()})
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,180.250739,213.098297,151.692886
District,76.956733,80.966636,57.647642,64.504447,51.504220

In [33]:
# Assemble the new data by type into a DataFrame called `type_summary`
# type_summary = pd.DataFrame({
#     'Average Math Score': average_math_score_by_type,
#     'Average Reading Score': average_reading_score_by_type,
#     '% Passing Math': average_percent_passing_math_by_type,
#     '% Passing Reading': average_percent_passing_reading_by_type,
#     '% Overall Passing': average_percent_overall_passing_by_type
# })
# 
# # Display results
# type_summary

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,80.073651,82.432247,65.390047,67.522027,63.250600
$585-630,80.165885,82.447216,85.767325,93.765587,78.484274
$630-645,80.350973,82.395382,82.586925,98.426920,67.533561
$645-680,81.375304,82.946146,303.520738,372.486457,245.666294